rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_goals/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /medals/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /widget_configuration/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
} 
